<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Yosemite Interface</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Yosemite Interface</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>QSRequirements</key>
	<dict>
		<key>minHostVersion</key>
		<string>4039</string>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>BRNBW / Mikkel Malmberg</string>
		<key>categories</key>
		<array>
			<string>Interfaces</string>
		</array>
		<key>description</key>
		<string>A simple, elegant theme matching Yosemite&apos;s Spotlight. Light and Dark Mode supported</string>
		<key>extendedDescription</key>
		<string>&lt;h2&gt;Yosemite Interface&lt;/h2&gt;
&lt;p&gt;A beautiful, elegant interface similar to macOS&apos;s spotlight interface.&lt;/p&gt;
&lt;h3&gt;Colors&lt;/h3&gt;
&lt;p&gt;Both light mode and dark mode are supported by this plugin. Choose your color preferences by enabling the Yosemite interface in the Appearance preferences, and then clicking the &apos;Customize&apos; button.&lt;/p&gt;


&lt;h3&gt;Credits&lt;/h3&gt;

This plugin was created by Mikkel Malmberg (&lt;a href=&quot;https://github.com/mikker/&quot;&gt;@mikker&lt;/a&gt;), and updated by the Patrick Robertson and the Quicksilver Development Team.
</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>BBYosemitePrefs</key>
			<dict>
				<key>class</key>
				<string>BBYosemitePrefs</string>
				<key>description</key>
				<string>Yosemite interface preferences</string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>Yosemite</string>
				<key>nibBundle</key>
				<string>com.brnbw.Yosemite</string>
				<key>nibName</key>
				<string>BBYosemitePrefs</string>
				<key>type</key>
				<string>hidden</string>
			</dict>
		</dict>
		<key>QSCommandInterfaceControllers</key>
		<dict>
			<key>Yosemite</key>
			<string>BBYosemiteInterface</string>
		</dict>
	</dict>
</dict>
</plist>
