<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Yosemite Interface</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Yosemite Interface</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>BRNBW / Mikkel Malmberg</string>
		<key>categories</key>
		<array>
			<string>Interfaces</string>
		</array>
		<key>description</key>
		<string>A theme matching Yosemite&apos;s Spotlight</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>BBYosemitePrefs</key>
			<dict>
				<key>class</key>
				<string>BBYosemitePrefs</string>
				<key>description</key>
				<string>Yosemite interface preferences</string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>Yosemite</string>
				<key>nibBundle</key>
				<string>com.brnbw.Yosemite</string>
				<key>nibName</key>
				<string>BBYosemitePrefs</string>
				<key>type</key>
				<string>hidden</string>
			</dict>
		</dict>
		<key>QSCommandInterfaceControllers</key>
		<dict>
			<key>Yosemite</key>
			<string>BBYosemiteInterface</string>
		</dict>
	</dict>
</dict>
</plist>
